body { 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #989a9a62!important;
    max-width: 100%;

}

.containerP{
    height:3.5rem;
    padding-top: 5px;
    background-color: rgba(147, 146, 137, 0.668);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-icon {
    display: flex;
    
}
.container-icon i {
    margin-right: 17px;
    font-size: 27px;
}
.container-icon p {
    margin-left: 17px;

}
.nav {
    display: flex;
    justify-content: space-around;
}
.nav img {
    width: 10rem;
}

li{
    margin: .7rem;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.navbar {
    box-shadow: -2px 3px 15px -3px rgba(22, 20, 20, 0.742)!important;
    -webkit-box-shadow: -2px 3px 15px -3px rgba(241, 241, 241, 0.068)!important;
    -moz-box-shadow: -2px 3px 15px -3px rgba(30, 27, 27, 0.609)!important;
}
.li-vol {
    background-color: #0077b6;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgba(10, 80, 230, 0.835);
}
.hero  {
    font-weight: bold;
    font-size: 70px;
    width: 32rem;
    color: rgb(255, 255, 255);
    margin-top: 3rem;    
}
.hero-h2{
    background-color: rgba(255, 255, 255, 0.302);
    padding: 1rem;
    font-weight: bold;
    border-radius: 7px;
}
.collapsee{
    max-height: 7rem;
    background-color: #0077b6;
    color: white;
    
}
.collapsee p {
    font-size: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.section h2 {
    margin:3rem 12rem;
    margin-bottom: 0;
    font-weight: bold;

}
.subt {
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
}
.line {
    height:.2rem;
    background-color:black;
    width: 6rem;
    margin-left: 12rem;

}
.about {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.about-image img{
    max-width: 30rem;
    margin-right: 4rem;    
}
.about-text p {
    max-width: 30rem;
    font-size: 21px;
    font-weight:300;
}
.about-text button {
    background-color: #0077b6;
    color: white;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 5px;
    border: none;
}
.about-text button:hover {
    background-color: #fff;
    color: #000;
    border: solid 3px #0077b6;

}
.linen {
    height:.1rem;
    background-color: rgba(61, 57, 57, 0.414);
    margin: 0 auto;
    margin-top: 4rem;
    width: 87%;
}
.items {
    display: flex;
   justify-content: center;
   margin: 0 auto;
    width: 80%;
    margin-top: 5rem;
    text-align: center

}
.items-mision {
    background-color: #0077b6;
    border-radius: 5px;
    color: #fff;
    max-width:  30rem;
    margin-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    -webkit-box-shadow: 1px 2px 47px 0px rgba(141,146,235,1);
    -moz-box-shadow: 1px 2px 47px 0px rgba(141,146,235,1);
    box-shadow: 1px 2px 47px 0px rgba(141,146,235,1);
}
.items-vision {
    background-color: #0077b6;
    border-radius: 5px;

    color: #fff;
    max-width: 30rem;
    padding-top: 1.5rem;
        -webkit-box-shadow: 1px 2px 47px 0px rgba(141,146,235,1);
    -moz-box-shadow: 1px 2px 47px 0px rgba(141,146,235,1);
    box-shadow: 1px 2px 47px 0px rgba(141,146,235,1);

}
.items i {
    font-size: 50px;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    text-align: center;
    background-color: rgba(147, 146, 137, 0.668);
    color: white;
    margin-top: 3rem;

}
footer h5{
    font-weight: bold;
    margin-bottom: 2rem;
}
footer p {
    font-size: 20px;
    line-height: 17px;
}
.navegacion-principal {
    display:flex;
    flex-direction: column;
    
}
footer a {
    text-decoration: none;
    color: white;
}
.text-fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon-fin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon-fin i {
    margin-bottom: 1rem;
    font-size: 25px;
}
.roww{
    margin: 0 auto!important;
    width: 80%;
    text-align: center;
    margin-top:4rem!important;
    align-items: center;
    background-color: rgba(236, 243, 248, 0.663);
    padding: 1rem;
    border-radius: 14px;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(125, 118, 118, 0.75);
-moz-box-shadow: 0px -1px 10px 0px rgba(106, 100, 100, 0.75);
box-shadow: 0px -1px 10px 0px rgba(103, 100, 100, 0.75);
}
.lead {
    width:80%!important;
    margin: 0 auto!important;
    margin-top:2rem!important;

}
.nuestra {
    background-image: url(./socios.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}
.donan {
    background-image: url(./nh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
}
.volun {
    background-image: url(./donaciones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
}
.roww p{
    font-size: 20px;
}
.val img {
    max-width: 140px;
    max-height: 140px;
    
    
}
.sept {
    display:flex;
    margin: 0 auto;
    width: 80%;
    margin-top: 3rem;

}
.cont{
    display: flex;
    font-size: 25px;
    margin: 1rem;
}
.cont i {
    margin-right: 20px;
   color: green;

}
.cont p{
    font-weight: 500;
}
.hour{
    font-size: 15px;
    margin-left: 2.3rem;
}
.lines{
    height:1px;
    background-color:#000;
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin-right: 4rem;
    justify-content: center;
}
.map{
    display: flex;
    align-items: center;
    max-width: 100%!important;
}
.socios{
    display: flex;
   margin: 0 auto;
   width: 80%;
   justify-content: center;
   align-items: center;
}
.socio1 img{
   max-width: 30rem;
  
}
.socio2 img{
    max-width: 30rem;
    
}
.fijo{
    position: fixed;
    width: 100%;
    box-shadow: 0 .3rem .4rem #444;
    z-index: 200;
   
    background-color:#ede8b1;
}


@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        width: 100%;
    }
    .hero {
        font-size: 40px;
    }
    .hero-h2 {
        font-size: 20px;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .about p {
        margin-top: 1rem;
    }
    .items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
       
    }
    
    .sept{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .socios{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .socios img {
        max-width: 100%;
    }
    .items-mision{
        margin: 0;
        margin-bottom: 1rem;
        
    }
    .items-vision {
        padding-bottom: 1rem;
    }
    .form {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .row img {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
@media (max-width: 414px) {
    .containerP{
        height: 2rem;
    }
    .containerP p {
        font-size: 14px;
    }
    .container-icon i {
        font-size: 14px;
    }
    .nav img{
        width: 5rem;
        height: 4rem;
    }
    .about-text {
        margin: 1rem 2rem;
    }
    .about-text p {
        font-size: 16px;
    }
    .hero{
        font-size: 16px;
        text-align: left;
    }
    .hero-h2 {
        font-size: 10px;
        padding: 7px;

    }
    .collapsee p {
        font-size: 15px;
    }
    .section h2{
        margin: 2rem 4rem;
        margin-bottom: 0;
    }
    .line{
        margin-left: 4rem;
        margin-bottom: 2rem;
    }
  
    .items p {
        font-size: 17px;
    }
    .row p {
        font-size: 17px;
    }
    .dona p {
        font-size: 17px
    }
   
    footer {
       display:flex;
       flex-direction: column
    }

}